

    <section id="header">
                <div style="text-align:center;">
            <h1 id="h1">{{t "header.h1" }}</h1>
            <h2 id="h2">error</h2>
        </div>
        <div>
  <a href="/">english</a>
  &nbsp; | &nbsp;
  <a href="/de">deutsch</a>
</div>

        <p id="p11">buy error</p>
        <p id="p12">buy error</p>
        <p id="p13">buy error</p>
        <p id="p14">other</p>
        <div class="offset-4 col-4">
            <img id="headerimg" class="img-fluid" src="headerimg.png" alt="{{headerimgalt}}">
        </div>


    </section>
    <section id="features"></section>
    <section id="separation-anxiety"></section>
    <section id="reviews" ></section>