<!DOCTYPE html>
<html lang="{{t "home.lang" }}">

<head>

 {{> home/head/head}}

</head>

<body>

{{> trackscripts/gtmpixel}}



  {{!-- menu definovano views/partials/mainlayout  --}}
  {{> mainlayout/nav}}

  {{!-- body definovanno views/ a hbs file podle stranky --}}



{{> singlepage/terms}}



{{> mainlayout/footer/footer}}

  {{> endscripts/noswiper}}
 
</body>

</html>