// main: main.scss
body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    height: 100%;
    @media only screen and (max-width: $sm) {
        -webkit-overflow-scrolling: touch;
    }
    position: relative;
    background-color: getColor(surface);
}

#heightfill {
    @media screen and (max-width: $xs) {
        height: auto !important;
    }
    height: 100%;
}

.center-content {
    min-height: 100vh;
    display: flex;
    // flex-direction: column;
    flex-wrap: wrap;
    footer {
        width: 100vw;
        min-height: 107px;
        align-self: flex-end;
    }
    header {
        min-height: 442px;
        align-content: center;
    }
}

#testdiv {
    display: none;
    width: 0;
    height: 0;
    visibility: hidden;
    background-color: getColor(high-emphasis);
    @media screen and (min-width: $lg) {
        background-color: getColor(surface);
    }
}

//fix pro zmenu v csspokud je container child kolapsibilniho menu v md
.navbar-expand-md {
    .container {
        padding-right: 15px;
        padding-left: 15px;
    }
}

.row {
    padding: 0px !important;
    margin: 0px !important;
}

// preloading images
// body::after {
//     position: absolute;
//     width: 0;
//     height: 0;
//     overflow: hidden;
//     z-index: -1;
//     content: url(../images/device.png) url(../video/BarkioVideoWebFrame.jpg);
// }
.section {
    padding-top: 64px;
    padding-bottom: 64px;
    @media screen and (min-width: $xl) {
        padding-top: 112px;
        padding-bottom: 112px;
    }
}

a {
    transition: all 0.3s;
    &:hover {
        text-decoration: none;
    }
}

%section {
    @media screen and (max-width: $NOTlg) {
        padding-bottom: 72px;
        padding-top: 72px;
    }
    @media screen and (min-width: $xl) {
        padding-top: 112px;
        padding-bottom: 112px;
    }
    @media screen and (min-width: $lg) and (max-width:$NOTxl) {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    @media screen and (min-width: $xl) {
        padding-top: 112px;
        padding-bottom: 112px;
    }
}

.s-header {
    @media screen and (max-width: $NOTlg) {
        padding-bottom: 56px;
    }
    @media screen and (min-width: $lg) and (max-width:$NOTxl) {
        padding-bottom: 42px;
    }
    @media screen and (min-width: $xl) {
        padding-bottom: 96px;
    }
}

.hiddenxllgrelease {
    display: none !important;
}

.bg-light {
    background-color: getColor(light-background) !important;
}

.rounded {
    border-radius: 12px !important;
}