// main: main.scss
header {
    background-color: getColor(surface);
    @extend %section;
    &.container {
        @media screen and (min-width: $NOTsm) and (max-width: $NOTlg) {
            padding-top: 88px;
        }
        @media screen and (min-width: $lg)and (max-width: $NOTxl) {
            padding-top: 104px;
            padding-bottom: 64px;
        }
        @media screen and (min-width: $xl) {
            padding-top: 128px;
        }
    }
}

#headings {
    margin: 0%;
    padding: 0%;
    @media screen and (min-width: $xl) {
        padding-bottom: 40px;
    }
    @media screen and (max-width: $NOTxl) {
        padding-bottom: 32px;
    }
}

.platformsvg {
    vertical-align: bottom;
    display: inline;
    margin: 0;
    padding: 0;
    margin-right: 12px;
}

#platforms {
    @media screen and (max-width: $sm) {
        padding-bottom: 32px !important;
    }
}

.storebtns {
    padding: 0%;
    padding-bottom: 12px;
    @media screen and (min-width: $NOTxs) {
        padding-bottom: 16px;
    }
    // .buttonlink {
    //     &:not(#macbtn),
    //     &:not(#winbtn),
    //     &:not(#lnxbtn) {
    //         @media screen and (min-width: $lg) {
    //             &:nth-child(4), &:nth-child(5) {
    //                 margin-left: 16px;
    //                 @include invbtn;
    //                 border: solid 1px getColor(primary-base);
    //             }
    //         }
    //     }
    //     @media screen and (max-width:$xs) {
    //         padding-bottom: 16px;
    //     }
    //     @media screen and (min-width:$NOTsm) and (max-width:$NOTlg) {
    //         padding-bottom: 18px;
    //     }
    //     @media screen and (min-width:$lg) {
    //         padding-bottom: 16px;
    //         border: solid 1px getColor(primary-base);
    //         &:not(#iosbtn),
    //         &:not(#gpbtn) {
    //             &:hover {
    //                 border: solid 1px getColor(primary-lighter);
    //             }
    //         }
    //     }
    // }
    .ablock {
        @media screen and (max-width: $sm) {
            margin: auto;
            display: block;
            text-align: center;
        }
    }
    #main {
        @media screen and (min-width: $xl) {
            // margin-bottom: 58px !important;
            margin-top: 26px !important;
        }
        @media screen and (min-width: $lg) and (max-width: $NOTxl) {
            // margin-bottom: 11px !important;
            // margin-top: 11px !important;
        }
    }
}

#video {
    background-image: url(../images/backgroundBlob.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    max-width: 100%;
    padding: 0px;
    min-width: 280px;
    min-height: 542px;
    overflow: hidden;
    @media screen and (max-width: $sm) {
        padding: 0px !important;
        max-width: auto;
    }
    @media screen and (min-width: $NOTsm) and (max-width: $NOTlg) {
        min-width: 270px;
        margin: 0px;
        min-height: 522px;
        margin-bottom: 0px !important;
        margin-top: 1.5rem !important;
    }
    @media screen and (min-width: $xl) {
        min-width: 290px;
    }
}

#overlay {
    position: relative;
    margin: auto;
    width: 292px;
    display: block;
    @media screen and (min-width: $NOTsm) and (max-width: $NOTlg) {
        width: 270px;
    }
    &:after {
        content: '';
        display: block;
        background: url('../images/device.png') no-repeat top left transparent;
        width: 292px;
        height: 542px;
        left: 0px;
        top: 0px;
        position: absolute;
        z-index: 10;
        @media screen and (min-width: $NOTsm) and (max-width: $NOTlg) {
            width: 270px;
            height: 542px;
            background: url('../images/device@2x.png') no-repeat top left transparent;
            background-size: 270px 505px;
        }
        @media screen and (min-width: $lg) {
            background: url('../images/device@2x.png') no-repeat top left transparent;
            background-size: 280px 545px;
        }
    }
    video {
        position: absolute;
        top: 21px;
        /* Adjust top position */
        left: 30px;
        /* Adjust left position */
        width: 229px;
        height: 485px;
        z-index: 5;
        border-radius: 30px;
        @media screen and (min-width: $NOTsm) and (max-width: $NOTlg) {
            width: 268px;
            height: 445px;
            left: 0px;
            border-radius: 30px;
        }
    }
}

#overlaycs {
    position: relative;
    margin: auto;
    width: 292px;
    display: block;
    @media screen and (min-width: $NOTsm) and (max-width: $lg) {
        width: 270px;
    }
    &:after {
        content: '';
        display: block;
        background: url('../images/device.png') no-repeat top left transparent;
        width: 292px;
        height: 542px;
        left: 0px;
        top: 0px;
        position: absolute;
        z-index: 10;
        @media screen and (min-width: $NOTsm) and (max-width: $lg) {
            width: 270px;
            height: 542px;
            background: url('../images/devicemd.png') no-repeat top left transparent;
        }
    }
    video {
        position: absolute;
        top: 21px;
        /* Adjust top position */
        left: 30px;
        /* Adjust left position */
        width: 229px;
        height: 485px;
        z-index: 5;
        border-radius: 30px;
        @media screen and (min-width: $NOTsm) and (max-width: $lg) {
            width: 268px;
            height: 445px;
            left: 0px;
            border-radius: 30px;
        }
    }
}

#love {
    @media screen and (min-width: $xl) {
        width: 317px;
    }
    padding-bottom: 32px;
    width: 264px;
    margin: auto;
    position: relative;
    display:block;
}

// #overlayde {
//     position: relative;
//     margin: auto;
//     width: 292px;
//     display: block;
//     @media screen and (min-width: $NOTsm) and (max-width: $lg) {
//         width: 270px;
//     }
//     &:after {
//         content: '';
//         display: block;
//         background: url('../images/device.png') no-repeat top left transparent;
//         width: 292px;
//         height: 542px;
//         left: 0px;
//         top: 0px;
//         position: absolute;
//         z-index: 10;
//         @media screen and (min-width: $NOTsm) and (max-width: $lg) {
//             width: 270px;
//             height: 542px;
//             background: url('../images/devicemd.png') no-repeat top left transparent;
//         }
//     }
//     video {
//         position: absolute;
//         top: 21px;
//         /* Adjust top position */
//         left: 30px;
//         /* Adjust left position */
//         width: 229px;
//         height: 485px;
//         z-index: 5;
//         border-radius: 30px;
//         @media screen and (min-width: $NOTsm) and (max-width: $lg) {
//             width: 268px;
//             height: 445px;
//             left: 0px;
//             border-radius: 30px;
//         }
//     }
// }
#banner-special-promo {
    border-radius: 16px;
    margin-bottom: 16px;
    border: 1px solid getColor(low-border);
    width: 487px;
    transition: all 0.3s;

    &:hover {
        filter: brightness(1.1);
    }
}