<div class="row">
<div class="col-12  py-5 d-flex justify-content-center">
<a id="enable-console" class="btn buttonlink lg" href='{{app}}app://debug-console?enable=true'>Enable Console</a>
</div>
<div class="col-12  py-5 d-flex justify-content-center">
<a id="disable-console" class="btn buttonlink lg" href='{{app}}app://debug-console?enable=false'>Disable Console</a></div>
</div>