<!DOCTYPE html>
<html lang="{{t "home.lang" }}">
{{!-- centermiddle layout --}}
<head>

 {{> head/centermiddle}}

</head>

<body>

{{> trackscripts/gtmpixel}}

<div class="center-content">

  {{!-- menu definovano views/partials/mainlayout  --}}
  {{> mainlayout/nav}}

  {{!-- body definovanno views/ a hbs file podle stranky --}}



{{> singlepage/downloadthx}}



{{> mainlayout/footer/footer}}
</div>

  {{> endscripts/noswiper}}
 
</body>

</html>