// main: main.scss
$primary-base: rgba(143, 109, 245, 1),
;
$primary-darker: rgba(129, 98, 221, 1);
$primary-lighter: rgba(154, 124, 246, 1);
$warning-base: #ff416f;
$tint1-base: #fa4863;
$tint2-base: #fab500;
$tint3-base: #4285f4;
//old variables end
$on-primary-white: #ffffff;
$on-primary-medium: rgba(255, 255, 255, 0.7);
$on-primary-low: rgba(255, 255, 255, 0.2);
$medium-border: rgba(0, 0, 0, 0.12);
$card-background: rgba(255, 255, 255, 0.04);
$light-background: rgba(143, 109, 245, 0.04);
// color schemas
$colors: (high-emphasis: rgb(0, 0, 0), medium-emphasis: rgba(0, 0, 0, 0.54), low-emphasis: rgba(0, 0, 0, 0.38), high-border: rgba(0, 0, 0, 0.2), medium-border: rgba(0, 0, 0, 0.12), low-border: rgba(0, 0, 0, 0.08), card-primary-background: rgba(143, 109, 245, 0.08), light-background: rgba(143, 109, 245, 0.04), surface: #ffffff, surface-elevated: #ffffff, light-02: rgba(255, 255, 255, 0.2), light-07: rgba(255, 255, 255, 0.7), primary-base: rgba(143, 109, 245, 1), primary-darker: rgba(129, 98, 221, 1), primary-lighter: rgba(154, 124, 246, 1), primary-transparent: rgba(143, 109, 245, 0.12), secondary-base: #2aa598, secondary-darker: #269589, secondary-lighter: #3faea2, secondary-transparent: rgba(42, 165, 152, 0.12), warning-base: #ff416f, warning-lighter: #ff547d, tint1-base: #fa4863, tint2-base: #fab500, tint3-base: #4285f4, );
//dark theme
$colors-dark: (high-emphasis: rgba(255, 255, 255, 1), medium-emphasis: rgba(255, 255, 255, 0.6), low-emphasis: rgba(255, 255, 255, 0.4), high-border: rgba(255, 255, 255, 0.28), medium-border: rgba(255, 255, 255, 0.2), low-border: rgba(255, 255, 255, 0.16), card-primary-background: rgba(143, 109, 245, 0.18), light-background: rgba(255, 255, 255, 0.04), surface: #121212, surface-elevated: #2e2e2e, light-02: rgba(255, 255, 255, 0.98), light-07: rgba(255, 255, 255, 0.93), primary-base: rgba(124, 85, 241, 1), primary-darker: rgba(124, 85, 241, 1), primary-lighter: rgba(137, 102, 242, 1), primary-transparent: rgba(143, 109, 245, 0.18), secondary-base: #259287, secondary-darker: #21837a, secondary-lighter: #3faea2, secondary-transparent: rgba(42, 165, 152, 0.18), warning-base: #ce4364, warning-lighter: #d35674, tint1-base: #fa4863, tint2-base: #d8972b, tint3-base: #0083c2, );
// //converting scss variable into css variable
:root {
    @each $name,
    $color in $colors {
        --color-#{$name}: #{$color};
    }
    --theme: "light";
}

@media (prefers-color-scheme: dark) {
     :root {
        @each $name,
        $color in $colors-dark {
            --color-#{$name}: #{$color};
        }
        --theme: "dark";
    }
}

// //creating a function to get color instead of using css varible
@function getColor($color-name) {
    @return var(--color-#{$color-name});
}