<script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "MobileApplication",
            "name": "Bibino: Baby Monitor",
            "alternateName": "Bibino: Babyphone"
            },
            "dateModified":"2020-07-02",
            "applicationCategory": "Parenting",
            "description": "Bibino app turns any two phones, tablets, and laptops into a secure and reliable baby monitor. Join thousands of happy parents and try Bibino now for free.",
            "operatingSystem": "Requires iOS 10.0 or later, Android 5.0 or later, MacOS 10.10 or later, Windows 10.",
            "featureList": "MULTIPLATFORM ACCOUNT, LULLABIES, LIVE VIDEO STREAM, UNLIMITED REACH, KNOW WHEN YOUR BABY CRIES (log), EVERY NOISE, DISCREET MODE, BACKGROUND MODE,",
            "fileSize": "9.2 - 47 MB",
            "url":"https://www.bibinoapp.com/",
            "thumbnailUrl":"https://bibinoapp.com/images/Bibino-logotype.svg",
            "screenshot":"https://bibinoapp.com/images/ien@2x.png"
        }
</script>

<header >
    <div class="overflow-xl">
    <div class="container">
    {{> home/header/header}}
    <!-- modal mobil-->
    {{> home/header/modalplatforms}}
   
  </div>
  </div>
</header>
<main>
    <div id="testdiv"></div>
    {{> home/reasons}}
    {{> home/features}}
    {{> home/newsletter}}
    {{> home/blog}}
    {{> home/testimony}}
    {{> mainlayout/footer/trynow}}
</main>
