<div id="modalcopy" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content container">

            <div id="copym" class="mod-txt">
                <div class="row">

                    <div class="col-10 mod-h">
                        <h3>{{t "footer.doclinks.copytd" }}</h3>
                    </div>

                    <div class="crossdiv col-2">
                        <a class="mod-close" role="button" data-dismiss="modal"><img alt="cross"
                                src="/images/menu-close.svg"></a>
                    </div>

                </div>

                <p>Apple, the Apple logo, and iPhone are trademarks of Apple Inc., registered in the U.S. and other
                    countries and regions. App Store is a service mark of Apple Inc. Mac App Store is a service mark of
                    Apple Inc.</p>

                <p>Google Play and the Google Play logo are trademarks of Google LLC.</p>
                <p>Windows® and the Windows logo are either registered trademarks or trademarks of Microsoft Corporation
                    in the United States and/or other countries.</p>
                <p>Linux® is the registered trademark of Linus Torvalds in the U.S. and other countries.</p>
            </div>
        </div>
    </div>
</div>