<header class="container d-flex message">
    <main class="align-self-center">
        <section id="main" class="row align-items-center no-gutters">
            <div class="col-12 col-lg-8 offset-lg-2">
                <img id="love" src="/images/thanks.svg" alt="dog holding a heart">
                <div class=" row msg">
                    <h1 class="col-12">Thanks for signing up!</h1>
                    <p class="subheader col-12">You’ll be the first to know about Bibino news, tips, and special offers.
                        {{!-- <span class="emoji">🐶</span> --}}
                        </p>
                </div>
                {{!-- <div class="ebooks">
                    <button href="#modal-e" onclick="dataLayer.push({'event': 'ebook-download'});" role="button"
                        data-toggle="modal">Download ebook</button>
                </div> --}}

                <div class="b-cont">
                    <a id="email-confim-join-community" type="button" href="{{t "fblink" }}" class="btn join-banner">👭 Join other parents in our Bibino community.
                        <span id="btnsvg">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24">
                                <path fill="currentColor" fill-rule="nonzero"
                                    d="M7.998 2.985a1.25 1.25 0 0 1 1.77 0l8.31 8.31c.39.39.39 1.02 0 1.41l-8.31 8.31c-.49.49-1.28.49-1.77 0a1.25 1.25 0 0 1 0-1.77l7.24-7.25-7.25-7.25c-.48-.48-.48-1.28.01-1.76z" />
                            </svg>
                        </span>
                    </a>
                </div>
            </div>
        </section>
    </main>

</header>
<!-- modal 2-->
<div id="modal-e" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content container">
            <div class="mod-txt">
                <div class="row">

                    <div class="col-10 mod-h">
                        <h3>Download ebook</h3>
                    </div>
                    <div class="crossdiv col-2">
                        <a class="mod-close" role="button" data-dismiss="modal"><img alt="cross"
                                src="/images/menu-close.svg"></a>
                    </div>
                </div>
                <p>
                    Dog Separation Anxiety Guide is available in various formats. Choose yours and tap to download.
                </p>
            </div>
            <div class="mod-icons">
                <div class="row">
                    <div class="mod-li col-12 col-lg-6">
                        <img class="" src="/images/epub.svg" alt="epub icon" />
                        <a id="epub" href="/books/Dog Separation Anxiety Guide by Barkio.epub" download>Download as
                            ePub</a>
                    </div>
                    <div class="mod-li col-12 col-lg-6">
                        <img src="/images/i-books.svg" alt="ibooks icon" />
                        <a id="ibook" href="/books/Dog Separation Anxiety Guide by Barkio.ibooks" download>Download as
                            iBooks</a>



                    </div>
                    <div class="mod-li col-12 col-lg-6 bot-sm">
                        <img src="/images/pdf.svg" alt="pdf icon" />
                        <a id="pdf" href="/books/Dog Separation Anxiety Guide by Barkio.pdf" download>Download as
                            PDF</a>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
<!-- modal 2 end -->
 <div id="testdiv"></div>