<section id="form" class="col-12">
    <div class="email-octopus-form-wrapper">
        <p class=" subheader email-octopus-heading">Sign up and be the first to know when Barkio launches!</p>
        <p class="email-octopus-success-message"></p>
        <p class="email-octopus-error-message"></p>
        <form method="post" action="https://sendy.tappytaps.com/subscribe" class="email-octopus-form row"
            data-sitekey="6LdYsmsUAAAAAPXVTt-ovRsPIJ_IVhvYBBhGvRV6">
            <div class="form-center">
                <div class="email-octopus-form-row "><input id="field_0" name="email" type="email"
                        placeholder="Your email"> </div>
                <input type="hidden" name="list" value="bZbfk2Y0OLV0OXBaEWvRPQ">
                <input type="text" name="hp" value="" style="display: none">
                <div class="email-octopus-form-row-subscribe ">
                    <input type="hidden" name="successRedirectUrl" value="">
                    <button onclick="dataLayer.push({'event': 'submit-click'});" type="submit">Sign me up</button>
                </div>
            </div>
        </form>
    </div>
</section>