
                    <div id="modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-lg modal-dialog-centered">
                            <div class="modal-content container">
                                <div class="mod-txt">
                                    <div class="row">

                                        <div class="col-10 mod-h">
                                            <h3>About Barkio</h3>
                                        </div>
                                        <div class="crossdiv col-2">
                                            <a class="mod-close" role="button" data-dismiss="modal"><img alt="cross" src="/images/menu-close.svg"></a>
                                        </div>
                                    </div>
                                    <p>
                                        Barkio is a new dog monitoring app coming to your Android, iOS, macOS, Windows,
                                        and Linux.
                                        Barkio will help you to stay in touch with your dog when it's home alone. Make
                                        sure your dog
                                        is safe, see what it's doing and never miss another cute moment.
                                    </p>
                                </div>
                                <div class="mod-icons">
                                    <div class="row">
                                        <div class="mod-li col-12 col-lg-6">
                                            <img class="" src="/images/video-outlined.svg" alt="camera icon" />
                                            <p>Watch live video of your dog</p>
                                        </div>
                                        <div class="mod-li col-12 col-lg-6">
                                            <img src="/images/microphone-outlined.svg" alt="microphone icon" />
                                            <p>Talk to your dog remotely</p>



                                        </div>
                                        <div class="mod-li col-12 col-lg-6 bot-sm">
                                            <img src="/images/activitylog.svg" alt="clock icon" />
                                            <p>Check overview of all activities</p>
                                        </div>
                                        <div class="mod-li col-12 col-lg-6 bot-sm bot-xs">
                                            <img src="/images/multiperson-outlined.svg" alt="devices icon" />
                                            <p>No Hardware cameras needed</p>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>