// main: ../main.scss
.pricing {
    #pricing-features {
        padding-top: 56px;
        @media screen and (max-width: $sm) {
            padding-top: 40px;
        }
        &.under {
            padding-top: 0px;
        }
    }
    .feature {
        &.under {
            margin-bottom: 0;
        }
        margin-bottom: 16px;
        @media screen and (min-width: $lg) {
            margin-bottom: 72px;
        }
        p {
            text-align: center;
            @media screen and (max-width: $sm) {
                text-align: left;
            }
        }
        padding-left: 0;
        padding-right: 0;
        .f-inside {
            @media screen and (min-width: $NOTsm) {
                display: block;
                padding-left: 4px;
                padding-right: 4px;
            }
        }
    }
}

header {
    &.pricing {
        padding-bottom: 160px;
        &.special {
            padding-bottom: 112px;
            @media screen and (max-width: $sm) {
                padding-bottom: 96px;
            }
        }
        @media screen and (max-width: $sm) {
            padding-bottom: 144px;
        }
        h1 {
            text-align: center !important;
        }
    }
}

.entry {
    @media screen and (min-width: $lg) {
        min-height: 100%;
        max-width: 35%;
    }
    @media screen and (min-width: $NOTsm) and (max-width: $NOTlg) {
        max-width: 60%;
        margin-bottom: 56px;
    }
    @media screen and (max-width: $sm) {
        margin-bottom: 56px;
    }
    &:last-of-type {
        margin: 0;
        margin-left: 20px;
        @media screen and (max-width: $sm) {
            margin-left: 0px;
            margin-bottom: 0px;
        }
    }
    &:first-of-type {
        margin: 0;
        margin-right: 20px;
        @media screen and (max-width: $sm) {
            margin-right: 0px;
            margin-bottom: 56px;
        }
        @media screen and (min-width: $NOTsm) and (max-width: $NOTlg) {
            margin-right: 0px;
            max-width: 60%;
            margin-bottom: 56px;
        }
    }
    &.fat {
        &:first-of-type {
            margin: 0;
            @media screen and (max-width: $sm) {
                margin-bottom: 16px;
            }
            @media screen and (min-width: $NOTsm) and (max-width: $NOTlg) {
                max-width: 60%;
                margin-bottom: 16px;
            }
            margin-top: 56px;
            margin-bottom: 16px;
        }
    }
    h4 {
        color: getColor(primary-base);
        &.dark {
            color: getColor(high-emphasis);
        }
        &.pduration {
            margin-bottom: 0;
            &.mb-n {
                margin-bottom: 24px;
            }
        }
        &.ptop-n {
            padding-top: 18px;
        }
    }
    &.outer {
        &.fat {
            border: none;
        }
        padding: 40px 24px;
        text-align: center;
        border-radius: 16px;
        border: none;
        // height: 100%;
        // width: 100%;
        display: flex;
        flex-flow: column;
        .dark {
            align-self: center;
            justify-self: center;
            display: flex;
            flex-flow: column;
        }
        .small-md {
            align-self: center;
            justify-self: center;
            display: inline;
            flex-flow: column;
        }
        .p-duration {
            align-self: center;
            justify-self: center;
            display: inline;
            flex-flow: column;
        }
        .purple {
            align-self: center;
            justify-self: flex-start;
            display: flex;
            flex-flow: column;
        }
        .btn {
            align-self: center;
            justify-self: flex-end;
            display: flex;
            flex-flow: column;
            margin-top: auto;
        }
        del {
            text-decoration-color: getColor(warning-base);
        }
        .price-top {
            font-family: 'Rubik', sans-serif;
            font-weight: 500;
        }
    }
    .mb-n {
        margin-bottom: 24px;
    }
    background-color: getColor(light-background);
    &.d-color {
        background-color: getColor(primary-transparent);
        border: 0px;
    }
}

.d-bubble {
    color: white !important;
    background-color: getColor(warning-base);
    padding: 12px 24px;
    border-radius: 24px;
    position: absolute;
    top: -16px;
    right: 0px;
    @media screen and (max-width: $sm) {
        top: -16px;
        right: auto;
    }
    font-family: Rubik;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.13px;
    // color: var(--light-high-emphasis);
}

.bubble-box {
    @media screen and (max-width: $sm) {
        display: flex;
        justify-content: center;
    }
}

.bubble {
    background-color: getColor(warning-base);
    width: 88px;
    height: 88px;
    position: absolute;
    border-radius: 88px;
    top: -32px;
    right: -24px;
    @media screen and (max-width: $sm) {
        width: 80px;
        height: 80px;
        top: -40px;
        right: -20px;
    }
}

.d-bubble-big {
    color: white !important;
    background-color: getColor(warning-base);
    padding: 0;
    margin: 0;
    @media screen and (max-width: $sm) {}
    font-family: Rubik;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.08px;
    display: inline;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    // color: var(--light-high-emphasis);
}

.pricing-icon {
    display: block;
    margin: auto;
    width: 72px;
    height: 104px;
    min-width: 72px;
    padding-bottom: 32px;
    @media screen and (max-width: $sm) {
        margin-right: 24px;
        width: 48px;
        height: 48px;
        min-width: 48px;
        padding: 0;
    }
}

.c-underline {
    background-position: bottom;
    background-image: url('../images/underline-stroke.png');
    background-repeat: no-repeat;
    padding-bottom: 3px;
}

.pricing-h {
    @media screen and (max-width: $sm) {
        align-self: center;
    }
}

.explainer {
    font-family: Roboto;
    text-align: center;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.5px;
    text-align: center;
    color: getColor(low-emphasis) !important;
    position: absolute;
    width: 100%;
    left: 0;
    @media screen and (max-width: $sm) {
        bottom: -28%;
        &.nl {
            bottom: -35%;
        }
    }
    @media screen and (max-width: 360px) {
        &.cs {
            bottom: -32%;
        }
        &.fr {
            bottom: -35%;
        }
        &.de {
            bottom: -42%;
        }
    }
    bottom: -25%;
    &.special {
        position: static;
        padding-bottom: 56px;
        margin: 0px;
        display: inline-block;
        top: 0;
        left: auto;
    }
}

#last-pric-feature {
    @media screen and (max-width: $sm) {
        margin-bottom: 56px;
    }
    margin: auto;
    margin-bottom: 72px;
    &.under {
        @media screen and (max-width: $sm) {
            margin-bottom: 0px;
        }
        margin-bottom: 0px;
    }
}

#prom-btn-under {
    margin-top: 40px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}