    <div id="video" class="col-12 offset-sm-1 col-sm-10  col-md-6 offset-md-0 col-lg-5">
        <div id="{{t "header.overlaycss" }}">
            <video width="229" height="485" id="videosrc" preload muted autoplay loop playsinline
                poster="/video/BarkioVideoWebFrame.jpg">
                <source src="/video/BarkioVideo.mp4" type="video/mp4"></video>
        </div>
    </div>